 <link rel="stylesheet" type="text/css" href="assets/styles.css">


<nav class="navigation">
  <div class="name">
    <span class="first"> Todd </span>
    <span class="last"> Matthews </span>
  </div>

  <ul class="site-links">
    {% for page in site.pages %}
      <li class="site-link">
        <a href="{{ page.url }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
