

.container{
  @extend .grid-container;
}

// home page content
.content {
// extend all 12 grid columns
  @extend .full-width;

  padding-top: 35px;
  text-align:center;

    h1{
      font-size: 34px;
    }

  .icons {
    margin: 0 auto;

    img{
      margin: 12px 10px;
      height: 28px;
      width: 32px;
    }

    .linkedin{
      height: 28px;
      width: 37px;
    }
  }


}


.post {
  padding: 10px 0px;

  text-align: left;
  .date {
    font-size: .7em;
    color: $primary-font-color;
    opacity: 0.7;
  }

  .title{
    text-decoration: none;
    color: $primary-color;
    opacity: 0.7;
  }


}
