@import "neat/neat";
@import "bourbon/bourbon";
@import "base/base";


$primary-font: 'Merriweather', serif;
$primary-color: #FF5600;
$primary-font-color: #333;

$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$tablet-grid: (
  columns: 12,
  gutter: 20px,
  media: "(max-width: 1200px)",
);

$phone-grid: (
  columns: 12,
  gutter: 20px,
  media: 600,
);

.grid-container{
  @include grid-container;
  max-width: 1500;
  margin: 0 auto;
}

.full-width {
  @include grid-column(12);
}


.half-width {
  @include grid-column(6);


  @include grid-media($tablet-grid){
      @include grid-column(12);
    }

  @include grid-media($phone-grid){
      @include grid-column(12);
    }
}



.quarter-width {
  @include grid-column(3);

  @include grid-media($tablet-grid){
    @include grid-column(6);
  }

  @include grid-media($phone-grid){
    @include grid-column(12);
  }
}


body {
  font-family: $primary-font;
}


@import "navigation";
@import "home";
@import "post";
