

.navigation {
  @include grid-container;
  @include grid-column(12);
  height: 50px;

  border-bottom: solid 1px #eee;
  padding-top: 15px;


  .name {
    @include grid-column(3);

    @include grid-media($phone-grid){
      @include grid-column(12);
    }

    float: left;

    .first {
        color: $primary-color;
        font-weight: 600;
    }
    .last {
      color: #333;
    }

  }

  .site-links{
    float: right;
    .site-link{
      @include grid-column(5);
      text-align:center;

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }


}
