

.post-container{
  @include grid-container;
  max-width: 1200px;
  margin: 0 auto;

    .date {
      @include grid-column(12);
      text-align: center;
      color: $primary-font-color;
      opacity: 0.7;
    }

    .title{
      @include grid-column(12);
      font-size: 2em;
      text-align: center;
      padding: 15px 0px;
      color: $primary-color;
      opacity: 0.7;
    }

}
