{% include head.html %}

{% include navigation.html %}

<div class="container">
  <div class="content">
    <div class="half-width">
      <h1 class="name"> Hi! I'm {{site.name}} </h1>
      <span class="info"> {{ site.position }} @ <a href="https://www.freightchick.com">{{ site.company}}</a></span>
    </br>
      <div class="icons">
        <a href="https://www.linkedin.com/in/{{site.linkedin}}"><img class="linkedin" src="/assets/linkedin.png"/></a>
        <a href="https://www.gitlab.com/{{site.gitlab}}"><img src="/assets/gitlab.svg"/></a>
        <a href="https://www.github.com/{{site.github}}"><img src="/assets/github.png"/></a>
      </div>
    </div>
    <div class="half-width">
      <ul class="posts">
        {% for post in site.posts %}
        <li class="post">
          <p class="date"> {{ post.date }}</p>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          <p class="excerpt" >{{post.excerpt}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
