
{% include head.html %}

{% include navigation.html %}



<div class="post-container">
  <div class="title">
    <h1>{{ page.title}} </h1>
  </div>
  <div class="date">
    <p>{{ page.date}} </p>
  </div>
  {{ content }}
</div>
